:root{
    --background-color: hsl(212, 45%, 89%);
    --title-color: hsl(218, 44%, 22%);
    --para-color: hsl(216, 15%, 48%);
    --attribution-links : hsl(228, 45%, 44%);
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
}

.attribution a {
    color: var(--attribution-links);
}

body{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    background-color: var(--background-color)
}

.title{
    font-weight: bold;
    color: var(--title-color);
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.qr-code-image{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
}

.container {
    width: 300px;
    /* perfect center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1.5rem;
    padding: 1rem;
}

.para{
    font-size: 1rem;
    color: var(--para-color);
    /* margin-bottom: 20px; */
    margin-inline-end: 1rem;
    text-align: center;
    padding: 1rem;
}
